header{
    background-color: rgb(78 162 255);
    
}

#logo{
    width: 20%;
    vertical-align: bottom;
}


.logo-bkg {
    background-image: url("./img/pattern.png");
    background-repeat: repeat-x;
    height: 200px;
    width: 100%; 
}

