header{
    background-color: rgb(78 162 255);

    
}


.logo-bkg {
    background-image: url("./img/pattern.png");
    background-repeat: repeat-x;
    /* background-position: left bottom, top; */
    /* background-size: contain, cover;  */
    height: 200px;
    width: 100%; 
}

#logo{
    background-image: url(./img/logo.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100%;
    width: 20%;
}

h1{
    margin-bottom:0;
    font-size: 3em;
}
.subtitle{
    margin: 0;
}

#hero-imgs{
    width: 100%;
}    
#img1, #img2{
    width: 49%;
}     
#img2{
    height: 50%;
}
table{
    width: 100%;
}
td, th{
    width: 200px;
    text-align: left;
}

#img-p-i1{
    background-image: url(./img/monitor.jpg);
    background-repeat: no-repeat;
    height: 200px; 
}

#img-p-i2{
    background-image: url(./img/graph.jpg);
    background-repeat: no-repeat;
    height: 200px; 
}

h4{
    color: #ffffff;
}

